@mixin mbpet-content-view {

	.content-border .v-panel .v-panel-content {
		border-left: 1px solid #cccdcd;
	}
	
	.content {
		height: 100%;
		width: 83%;
		background-color: white;
		border-left: 1px solid #cccdcd;
	
		.equal-panel {
			width: 75%;
		}
		
		.test-case-title {
			/*padding-left: 10px;*/
		}
		
		.landing-page-title {
			padding-left: 20px;
			padding-right: 20px;
		}
		
		.topBar-layout-padding {
			padding-left: 10px;
			padding-right: 5px;
		}
	}
	
	.v-horizontallayout-toolbar-padding {
		padding: 0 10px 5px 0;
	}
	
}