@mixin mbpet-reports-view {

/*
  .reports {

    .create .v-slot {
      border: 1px solid rgba(122,122,122,.1);
      background: rgba(122,122,122,.04);
    }

    .report-thumb {
      cursor: pointer;
      position: relative;

      .v-label {
        display: block;
        text-align: center;

        span {
          font-size: 0.8em;
        }
      }

      .v-image {
        @include box-shadow(0 2px 7px 1px rgba(0,0,0,.5));

        &:hover {
          outline: 2px solid #5198df;
        }
      }
    }
	
	.report-newest {
		.v-image {
			@include box-shadow(0 2px 7px 1px rgba(0,0,0,.5));
			outline: 2px solid #5198df;
		}
	}
*/

}