@mixin mbpet-windows-view {

	
	.subwindow-margin.v-margin-left {
		padding-left:   30px;
	}
	.subwindow-margin.v-margin-right {
		padding-right:   10px;
	}
	
	.v-horizontallayout-buttons-margin-top {
		padding-top:	20px;
	}
	
	.v-caption-caption-optional {
		font-style: italic;
	}
	
	//.v-textfield.v-readonly {
    //	font-style: italic;
	//}

	
	.dbuilder-window.dbuilder-window{

		.v-layout.v-horizontal-toolbar-padding {
			padding: 0 5px 3px 3px;
			/*background-color: #FAFAFA;*/
		}
	}

}