@mixin mbpet-windows-view {

	
	.subwindow-margin.v-margin-left {
		padding-left:   30px;
	}
	.subwindow-margin.v-margin-right {
		padding-right:   10px;
	}
	
	.v-horizontallayout-buttons-margin-top {
		padding-top:	20px;
	}
	
	.v-caption-caption-optional {
		font-style: italic;
	}
	
	//.v-textfield.v-readonly {
    //	font-style: italic;
	//}


}