// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-unit-size: 34px;
$v-font-size: 15px;
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";
@import "../valo/valo";
@import "views/login";
@import "views/menu";
@import "views/content";
@import "views/windows";
@import "views/caseviewer";


@mixin mbpet {
  @include valo;

  // Insert your own theme rules here
  @include mbpet-login-view;
  @include mbpet-menu-view;
  @include mbpet-content-view;
  @include mbpet-windows-view;
  @include mbpet-caseviewer-view;

  
  /* Insert your theme rules here */
  
  .invalid-value {
	border: solid 1px #ff0000; 
  }
  
	.mbpet .v-required-field-indicator {
		color: white;
		padding: 0 0.2em;
	}

	.hide-required-asterisk {	
		color: white;
		padding-left:2px;
	}


	.content {
		height: 100%;
	}

	.v-table .v-table-body-background-white {
		background-color: white;
	}
	.v-table-background-white {
		background-color: white;
	}
	
	.blue-start {
		color: #197DDE;
		/*background: #197DDE;
		$v-bevel: inset 0 2px 0 v-tint;
		border: 1px solid #4455aa;*/
	}
	
	.v-verticallayout .slave-select-padding  {
		padding-top: 22px;
	}
	.v-verticallayout .response-counts-layout-padding {
		padding-top: 0px;
	}
}
